/* ================================= 
  Flexbox
==================================== */

.container {
/*    display: inline-flex;*/
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
/*    height: 300px;*/
/*    flex-direction: row;*/
/*    flex-direction: row-reverse;*/
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
/*      flex-direction: column;*/
/*    flex-direction: column-reverse;*/
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
/*    height: 280px;*/
/*    justify-content: flex-start;*/
/*    justify-content: flex-end;*/
      -webkit-box-pack: center;
      -ms-flex-pack: center;
/*    justify-content: center;*/
/*      justify-content: space-between;*/
/*    justify-content: space-around;*/
}

/*
.item-1 {
    margin-right: auto;
}
*/
/*
.item-1,
.item-2 {
    margin-right: auto;
}*/

/*
.item-2 {
    margin-right: auto;
}*/

/*
.item-6 {
    order: 1;
}*/

/*
.item-5 {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.item-1 {
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
}
*/

.item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/*
.item-3 {
    flex-grow: 3;
}*/

.item-1 {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}